.ControlButton {
    padding: 2px 6px;
    border-radius: 50%;
    color: #667;
    width: 30px;
    height: 30px;
    margin-bottom: 1px;
}

.ControlPanel {
    height: 40px;
    padding-top: 6px;
    padding-bottom: 3px;
}