.CodeMirror {
    height: calc(100vh - 145px);
    overflow-y: scroll;
}

.Editor {
    height: calc(100vh - 90px)
}

.EditorMsg {
    display: inline-block;
    margin-top: 5px;
}

/* 12px Consolas */

